name: Auto Assign

on:
  pull_request:
    types: [opened, ready_for_review]
  issues:
    types: [opened]

permissions:
  issues: write
  pull-requests: write

jobs:
  assign:
    runs-on: ubuntu-latest
    
    steps:
    - uses: kentaro-m/auto-assign-action@v2.0.0
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        configuration-path: '.github/auto-assign.yml'
